<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 footer__col-1">
                <img src="/src/img/logo-footer.png" alt="">
            </div>
            <div class="col-lg-3 col-md-8 footer__col-2">
                <div class="footer__col-2__header">
                    <h2>QUICK LINK</h2>
                </div>
                <div class="footer__col-2__body">
                    <ul class="footer__col-2__list">
                        <li class="footer__col-2__item">
                            <a href="#">Shippers</a>
                        </li>
                        <li class="footer__col-2__item">
                            <a href="#">Carriers</a>
                        </li>
                        <li class="footer__col-2__item">
                            <a href="#">About Us</a>
                        </li>
                        <li class="footer__col-2__item">
                            <a href="#">Jobs&Careers</a>
                        </li>
                        <li class="footer__col-2__item">
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 footer__col-3">
                <div class="footer__col-3__header">
                    <h2>CONTACT US</h2>
                </div>
                <div class="footer__col-3__body">
                    <div class="footer__col-3__item">
                        <img src="/src/img/icons/Vector.png" alt="">
                        <a href="#">0001-2304-402921</a>
                    </div>
                    <div class="footer__col-3__item">
                        <img src="/src/img/icons/carbon_location-filled.png" alt="">
                        <a href="#">Tristique ultricies turpis commodo etiam at.</a>
                    </div>
                </div>
                <div class="footer__col-3__footer">
                    <h2>SOCIAL MEDIA</h2>
                    <div class="wrapper__socialMedia">
                        <a href="#">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="#">
                            <i class='bx bxl-twitter'></i>
                        </a>
                        <a href="https://www.instagram.com/globallogisticsgroupllc/">
                            <i class='bx bxl-instagram'></i>
                        </a>
                        <a href="#">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- ================ END FOOTER SECTION ================-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<!-- swiperJS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<!-- ======= Javascript que se encarga del navbar ======= -->
<script src="/src/js/navbar.js"></script>

<!-- ======= Javascript que se encarga del swiper de clientes ======= -->
<script src="/src/js/swiper.js"></script>

<!-- ======= Javascript que se encarga del slider de servicios/logistic ======= -->
<script src="/src/js/swiper_services.js"></script>

<!-- ======= Javascript que se encarga de la animación del scroll ======= -->
<script src="/src/js/scrollreveal.js"></script>
</body>

</html>