<input id="toggle" type="checkbox">
<label class="toggle-container" for="toggle">
    <span class="button button-toggle"></span>
</label>

<nav class="nav">
    <a class="nav-item" href="">Dashboard</a>
    <a class="nav-item" href="">History</a>
    <a class="nav-item" href="">Statistics</a>
    <a class="nav-item" href="">Settings</a>
</nav>
<div class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between">
    <div class="navbar__logo animate__animated animate__fadeInLeft">
        <a href="/index.html">
            <img src="/src/img/logo.png" alt="">
        </a>
    </div>
    <ul class="nav__list animate__animated animate__fadeInRight">
        <li class="nav__item">
            <a href="#">Shippers</a>
        </li>
        <li class="nav__item">
            <a href="/carriers.html">Carriers</a>
        </li>
        <li class="nav__item">
            <a href="#">About Us</a>
        </li>
        <li class="nav__item">
            <a href="#">Job&Careers</a>
        </li>
        <li class="nav__item">
            <a href="#">Blog</a>
    </ul>
</div>