/* ============ START BASE ============*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
.container__carriers {
  width: 90%;
  margin: auto;
}

.carrites__subtitle {
  font-family: "gilroy-semibold";
  font-size: var(--h2-font-size);
  color: var(--secondary-orange-2);
  margin-bottom: 5px;
}

.carriers__title {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  color: var(--white);
}

/* ============ END BASE ============*/
/* ============ START HERO AREA ============*/
.hero {
  background-image: url("/src/img/hero_carriers.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero__content {
  width: 90%;
  font-size: 16px;
  margin: auto;
}

.hero__content .content__main {
  align-items: center;
  background: #1D77D4 !important;
  border-radius: 10px;
  display: flex;
  font-family: "gilroy-semibold";
  font-size: 0.875em;
  height: 49px !important;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 20px;
  width: 160px;
  box-shadow: 0px 5px 20px rgba(29, 119, 212, 0.25);
}

.hero__content .content__wrapper {
  width: 453px;
}

.hero__content h1 {
  color: var(--white);
  font-family: "Barlow", sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@media (max-width: 500px) {
  .hero__content .content__wrapper {
    width: 100%;
  }
}
/* ============ END HERO AREA ============*/
.reliability_guaranteed {
  margin-top: 32px;
  font-size: 16px;
}

.reliability_guaranteed__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: var(--h1-font-size);
  color: var(--white);
}

.reliability_guaranteed__info {
  margin-top: 24px;
  font-family: "gilroy-semibold";
  font-size: var(--h4-font-size);
  color: var(--white);
}

.benefits {
  margin-top: 48px;
  font-size: 16px;
}

.benefits__wrapper {
  margin: 0 auto;
  margin-top: 54px;
  width: 90%;
}

.benefits__card {
  margin: 10px 0;
  position: relative;
  padding: 42px 42px;
  border-radius: 20px;
  background: transparent;
  overflow: hidden;
  backdrop-filter: blur(5px);
  min-height: 241px;
  width: 100%;
}

.benefits__card::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(104, 111, 118, 0.4);
  z-index: -1;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

.card__title h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: var(--white);
}

.card__title img {
  width: 23.97px;
  height: 24px;
}

.card__info {
  font-size: 16px;
}

.card__info p {
  margin-top: 8px;
  font-family: "gilroy-regular";
  font-size: 0.87em;
  color: var(--white);
  text-align: justify;
  margin-bottom: 14px;
}

.card__link {
  color: var(--secondary-orange-2);
  text-decoration: underline;
  font-size: 0.75em;
}

.card__link:hover {
  color: var(--secondary-orange-1);
  transition: all ease-in 0.3s;
  cursor: pointer;
}

/* only movil Reliability Guaranteed & Benefits */
@media (min-width: 1200px) {
  .benefits__card {
    width: 363px;
  }
}
.payment_options {
  margin-top: 100px;
}

.payment_options__wrapper {
  margin: 0 auto;
  margin-top: 54px;
  width: 90%;
}

.payment_options__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  width: 156px;
}

.payment_options__item img {
  width: 40px;
  height: 40px;
}

.payment_options__item h3 {
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: var(--white);
}

.haul_with_us {
  margin-bottom: 100px;
}

.haul_with_us .working-with-us {
  background-image: url("/src/img/carriers_baner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.swiper {
  margin-top: 42px;
  width: 100%;
  height: 409px;
}

.swiper:hover {
  cursor: grab;
}

.swiper-slide {
  background: rgba(237, 237, 237, 0.1);
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__wrapper {
  display: flex;
  gap: 68px;
  width: 70%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.avatar img {
  gap: 26px;
  width: 248px;
  height: 248px;
  object-fit: cover;
}

.avatar__name {
  text-align: start;
  font-size: 16px;
}

.avatar__name h2 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  color: var(--white);
}

.avatar__name h3 {
  font-family: "gilroy-medium", sans-serif;
  font-size: 16px;
  color: var(--white);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  font-size: 16px;
}

.testimonials p {
  text-align: justify;
  font-size: 1.125em;
  font-family: "gilroy-regular";
  color: var(--white);
}

@media (max-width: 1026px) {
  .swiper {
    height: 70vh;
  }

  .slide__wrapper {
    height: 80%;
  }

  .slide__wrapper .row {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .avatar img {
    gap: 26px;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}
@media (max-width: 425px) {
  .avatar__name h2 {
    font-size: 1.125em;
  }

  .testimonials p {
    font-size: 0.875em;
  }
}
@keyframes background-in {
  0% {
    scale: 0 0.005;
  }
  33% {
    scale: 1 0.005;
  }
  66%, 100% {
    scale: 1 1;
  }
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

body.open .modal-background {
  visibility: visible;
  opacity: 1;
  animation: background-in 1s both;
  z-index: 1040;
}

@keyframes modal-in {
  0%, 66% {
    opacity: 0;
    visibility: hidden;
    translate: -50% -30%;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.modal-benefits {
  display: none;
}

body.open .modal-benefits {
  position: fixed;
  z-index: 1050;
  display: block;
  top: 50%;
  left: 50%;
  background: var(--white);
  color: var(--secondary-gris);
  padding: 76px 107px;
  width: 846px;
  border-radius: 12px;
  translate: -50% -50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

body.open .modal-benefits {
  opacity: 1;
  visibility: visible;
  animation: modal-in 1s;
}

body.closed .modal-benefits {
  opacity: 0;
  visibility: hidden;
  translate: -50% -50%;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
}

.modal__header i {
  font-size: 24px;
}

.modal__header i:hover {
  cursor: pointer;
}

.modal__content {
  width: 630px;
  font-size: 16px;
}

.modal__content h2 {
  color: var(--main-blue-2);
  font-size: 1.5em;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
}

.modal__content p {
  font-family: "gilroy-regular", sans-serif;
  font-size: 1em;
  color: var(--secondary-gris);
  text-align: justify;
}

.modal__content ul li {
  margin: 24px 24px;
  font-family: "gilroy-regular", sans-serif;
  font-size: 1em;
  list-style-type: square;
}

@media (max-width: 800px) {
  body.open .modal-benefits {
    width: 60%;
    padding: 5px 25px;
  }

  .modal__content {
    width: 100% !important;
  }

  .modal__content h2 {
    font-size: 1.25em;
  }

  .modal__content p {
    font-size: 0.875em;
  }

  .modal__content ul li {
    font-size: 0.75em;
  }
}
.faqs__subtitle {
  font-size: 32px;
  color: var(--white);
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

.accordion {
  margin-top: 20px;
}

.accordion-button::after {
  background-image: url("/src/img/icons/icon-arrow-down.png") !important;
}

.accordion-header .accordion-button {
  background: var(--main-bg) !important;
  border: none;
  border-bottom: 1px solid var(--white);
  border-color: var(--white);
  outline: none;
  color: var(--white);
  font-family: "gilroy-semibold";
  font-size: 18px;
}

.accordion-header .accordion-button:hover {
  color: var(--secondary-orange-2);
  transition: all ease-in 0.3s;
}

.accordion-header .accordion-button:focus {
  background-color: red;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  outline: none;
  color: var(--secondary-orange-2);
}

.accordion-item {
  background: var(--main-bg);
}

.accordion-body {
  color: var(--white);
  font-family: "gilroy-regular", sans-serif;
  font-size: 16px;
  text-align: justify;
}

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floating-container {
  position: fixed;
  z-index: 100;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 350px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(8, 32, 43, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}

.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}

.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}

.floating-container:hover .element-container .float-element:nth-child(4) {
  -webkit-animation: come-in 0.4s forwards 0.8s;
  animation: come-in 0.4s forwards 0.8s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: var(--secondary-orange-2);
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(6, 28, 37, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.element-container {
  position: relative;
  right: 60px;
}

.floating-button .bx {
  line-height: 2;
}

.floating-container .float-element {
  position: relative;
  right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}

.floating-container .float-element p {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 0;
}

.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

.floating-container .float-element:nth-child(1) {
  background: var(--secondary-orange-2);
  box-shadow: 0 10px 25px -5px rgba(1, 50, 73, 0.6);
}

.floating-container .float-element:nth-child(2) {
  background: var(--secondary-orange-2);
  box-shadow: 0 10px 25px -5px rgba(1, 50, 73, 0.6);
}

.floating-container .float-element:nth-child(3) {
  box-shadow: 0 10px 25px -5px rgba(1, 50, 73, 0.6);
  background: var(--secondary-orange-2);
}

.floating-container .float-element:nth-child(4) {
  box-shadow: 0 10px 25px -5px rgba(1, 50, 73, 0.6);
  background: var(--secondary-orange-2);
}

.carriersElement__content {
  height: 100%;
  background-image: url("/src/img/SVG-BG 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carriersElement__col1 {
  width: 542px;
}
.carriersElement__col1 .content__main {
  align-items: center;
  background: #1D77D4 !important;
  border-radius: 10px;
  display: flex;
  font-family: "gilroy-semibold";
  font-size: 0.875em;
  height: 49px !important;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 20px;
  width: 160px;
  box-shadow: 0px 5px 20px rgba(29, 119, 212, 0.25);
}

.carriersElement__col1 h2 {
  font-size: 42px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: var(--white);
}

.carriersElement__col1 p {
  font-size: 18px;
  color: var(--white);
  font-family: "gilroy-medium";
}

@media (max-width: 840px) {
  .carriersElement__col2 {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=carriers.css.map */
