/* Font: 

    Barlow
        Bold 700
        Black 900
        ExtraBold

*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;800;900&display=swap");
@font-face {
  font-family: "gilroy-regular";
  src: url("/src/fonts/Gilroy/Gilroy-Regular.otf");
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("/src/fonts/Gilroy/Gilroy-Semibold.otf");
}
@font-face {
  font-family: "gilroy-medium";
  src: url("/src/fonts/Gilroy/Gilroy-Medium.otf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("/src/fonts/Gilroy/Gilroy-Bold.otf");
}
@font-face {
  font-family: "gilroy-black";
  src: url("/src/fonts/Gilroy/Gilroy-Bold.otf");
}
:root {
  /* ============= Font and typography ============= */
  --body-font-gilroy-regular: font-family: "gilroy-regular", sans-serif;
  --body-font-gilroy-medium: font-family: "gilroy-medium", sans-serif;
  --body-font-gilroy-bold: font-family: "gilroy-bold", sans-serif;
  --body-font-gilroy-black: font-family: "gilroy-black", sans-serif;
  --body-font-barlow: font-family: "Barlow", sans-serif;
  --biggest-font-size: 2.62em;
  --h1-font-size: 2em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.25em;
  --h4-font-size: 1.12em;
  --h5-font-size: 1em;
  /* ======== Colors ============= */
  --main-bg: #041423;
  --main-blue-1: #101F55;
  --main-blue-2: #1A659D;
  --main-blue3: #1D77D4;
  --main-blue-4: #4496EB;
  --secondary-black-1: #000000;
  --secondary-gris: #333333;
  --secondary-orange-1: #E04D01;
  --secondary-orange-2: #FF7700;
  --gris-1: #A7A8A9;
  --gris-2: #CACBCB;
  --gris-3: #DCDCDD;
  --gris-4: #EDEEEE;
  --gris-5: #F0F0F0;
  --gris-6: #FAFAFA;
  --gris-7: #878787;
  --white: #FFFFFF;
}

/* ============ START BASE ============*/
.container__carriers {
  width: 90%;
  margin: auto;
}

.carrites__subtitle {
  font-family: "gilroy-bold";
  font-size: var(--h2-font-size);
  color: var(--secondary-orange-2);
  margin-bottom: 32px;
}

.carriers__title {
  font-family: "gilroy-bold";
  font-size: var(--h1-font-size);
  color: var(--white);
}

/* ============ END BASE ============*/
/* ============ START HERO AREA ============*/
.hero {
  background-image: url("/src/img/hero_carriers.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero__content {
  width: 90%;
  font-size: 16px;
  margin: auto;
}
.hero__content .content__main {
  align-items: center;
  background: #1D77D4 !important;
  border-radius: 10px;
  display: flex;
  font-family: "gilroy-semibold";
  font-size: 0.875em;
  height: 49px !important;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 20px;
  width: 160px;
  box-shadow: 0px 5px 20px rgba(29, 119, 212, 0.25);
}
.hero__content .content__wrapper {
  width: 453px;
}

.hero__content h1 {
  color: var(--white);
  font-family: "Barlow", sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@media (max-width: 500px) {
  .hero__content .content__wrapper {
    width: 100%;
  }
}
/* ============ END HERO AREA ============*/
.reliability_guaranteed {
  margin-top: 32px;
  font-size: 16px;
}

.reliability_guaranteed__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: var(--h1-font-size);
  color: var(--white);
}

.reliability_guaranteed__info {
  margin-top: 24px;
  font-family: "gilroy-bold";
  font-size: var(--h4-font-size);
  color: var(--white);
}

.benefits {
  margin-top: 48px;
  font-size: 16px;
}

.benefits__wrapper {
  margin: 0 auto;
  margin-top: 54px;
  width: 90%;
}

.benefits__card {
  margin: 10px 0;
  position: relative;
  padding: 42px 42px;
  border-radius: 20px;
  background: transparent;
  overflow: hidden;
  backdrop-filter: blur(5px);
  min-height: 241px;
  width: 100%;
}

.benefits__card::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(104, 111, 118, 0.4);
  z-index: -1;
}

.card__title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card__title h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: var(--white);
}

.card__title img {
  width: 16.46px;
  height: 20px;
}

.card__info p {
  margin-top: 8px;
  font-family: "gilroy-medium", sans-serif;
  font-size: 0.87em;
  color: var(--white);
  text-align: justify;
}

.card__link {
  color: var(--secondary-orange-2);
  text-decoration: underline;
  font-size: 0.75em;
}

/* only movil Reliability Guaranteed & Benefits */
@media (min-width: 1200px) {
  .benefits__card {
    width: 337px;
  }
}
.payment_options {
  margin-top: 100px;
}

.payment_options__wrapper {
  margin: 0 auto;
  margin-top: 54px;
  width: 90%;
}

.payment_options__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  margin-right: 71px;
}

.payment_options__item img {
  width: 40px;
  height: 40px;
}

.payment_options__item h3 {
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: var(--white);
}

.payment_options__wrapper .payment_options__item:last-child {
  margin-top: 25px;
}

/*# sourceMappingURL=carriers.css.map */
