/* ============ START HERO SECTION ============*/
.hero {
  background-image: url("/src/img/banner-image-shippers.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* ============ END HERO SECTION ============*/
.WhyChooseGLG {
  background-image: url("/src/img/Group.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 16px;
}

.WhyChooseGLG__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2.625em;
  color: var(--white);
  margin-bottom: 52px;
}

.WhyChooseGLG__card {
  border-radius: 30px;
  height: 320px;
  position: relative;
  padding: 42px 42px;
  background: transparent;
  overflow: hidden;
  backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.3s ease-in;
}

.WhyChooseGLG__card:hover {
  background-color: #1d77d4;
}

.WhyChooseGLG__card::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 0.18);
  z-index: -1;
}

.WhyChooseGLG__card__title {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: var(--white);
  text-align: left;
  line-height: 30px;
  letter-spacing: 0.2;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: 100;
}

.WhyChooseGLG__card__content {
  font-family: "gilroy-medium", sans-serif;
  font-size: 16px;
  color: var(--white);
  text-align: justify;
}

.WhyChooseGLG__card:last-child {
  margin-top: 25px;
}

@media (min-width: 1200px) {
  .WhyChooseGLG__card {
    height: 444px;
    width: 386px;
  }

  .WhyChooseGLG__card__content {
    width: 300px;
  }
}
.ourServicesShippers {
  background-image: url("/src/img/background-shippers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ourServicesShippers__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: var(--white);
}

.ourServicesShippers__info {
  font-family: "gilroy-semibold";
  font-size: 24px;
  color: var(--white);
}

.ourService__wrapper img {
  border-radius: 20px;
  width: 70%;
}

.ourService__element {
  display: flex;
  gap: 41px;
  justify-content: space-around;
}

.ourService__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ourServiceElement__title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--white);
}

.ourServiceElement__content {
  margin-top: 14px;
  font-family: "gilroy-semibold";
  font-size: 16px;
  color: var(--white);
}

.content__main {
  align-items: center;
  background: #1D77D4 !important;
  border-radius: 10px;
  display: flex;
  font-family: "gilroy-semibold";
  font-size: 0.875em;
  height: 49px !important;
  justify-content: center;
  margin-top: 24px;
  padding: 16px 20px;
  width: 160px;
  box-shadow: 0px 5px 20px rgba(29, 119, 212, 0.25);
}

@media (max-width: 1000px) {
  .ourService__element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ourService__wrapper .ourService__element:nth-child(even) {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1200px) {
  .ourService__wrapper img {
    border-radius: 20px;
    width: 560px;
  }

  .ourService__content {
    width: 630px;
  }
}

/*# sourceMappingURL=shippers.css.map */
