.logistic-swiper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.swipper-container {
    height: 480px;
}

.logistic-swiper-slide {
    align-items: center;
}

.logistic-swiper-slide {
    width: 380px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.2;
}

.logistic-swiper-slide img {
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.logistic-swiper-pagination {
    display: none;
}

.swiper-slide-active {
    transform: scale(1.2) !important;
    transition: .4s;
    opacity: 1;
}


.swiper-slide__body {
    color: white;
    width: 90%;
}

.swiper-slide__body h2 {
    margin-top: 22px;
    text-align: left;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.swiper-slide__body p {
    font-size: 16px;
    font-family: 'gilroy-regular', sans-serif;
    text-align: left;
}

/* ====== FOOTER ONLY MOVIL =========== */
@media (max-width: 700px) {
    .logistic-swiper-slide img {
        width: 60%;
    }

    .swiper-slide__body {
        width: 50%;
    }
}