<!-- Start head de la aplicaci贸n -->
<%- include('./partials/head') %>
<!-- End head de la aplicaci贸n -->

<div class="header">
    <!-- Start Menu de navegaci贸n -->
    <%- include('./partials/nav') %>
    <!-- End Menu de navegaci贸n -->
    <div class="hero">
        <h1>hola</h1>
    </div>
</div>