<!-- Start head de la aplicación -->
<%- include('./partials/head') %>
	<!-- End head de la aplicación -->

	<body>
		<div class="header">
			<!-- Start Menu de navegación -->
			<%- include('./partials/nav') %>
				<!-- End Menu de navegación -->
				<div class="hero">
					<div class="hero__content">
						<div class="content__wrapper">
							<h1>Finding the lanes you want, made easier!</h1>
							<button style="background: #1D77D4;" class="btn btn-primary content__main">Join our
								network</button>
						</div>
					</div>
				</div>
		</div>
		<section class="container__carriers reliability_guaranteed">
			<div class="reliability_guaranteed__content">
				<h2 class="reliability_guaranteed__title">
					Reliability Guaranteed
				</h2>
				<p class="reliability_guaranteed__info">
					Global Logistics Group – GLG never falters in its quality in every step of the freight transport
					process. As a top-of-the-line freight broker, we make sure every carrier carries the right load all
					the time, whatever the equipment type. Our dedicated logistics team provides support even after
					hours.
				</p>
			</div>
			<div class="benefits">
				<h2 class="carrites__subtitle">
					Benefits
				</h2>
				<h1 class="carriers__title">Count on us for</h1>
				<div class="benefits__wrapper">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_1.png" alt="">
									<h3>Access to a divers selection of loads</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_2.png" alt="">
									<h3>Freigh of all types and commodities</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_3.png" alt="">
									<h3>Convenient payment options</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 63px;">
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_4.png" alt="">
									<h3>Dedicated carrier relations</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_5.png" alt="">
									<h3>Round the clock assitance</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="benefits__card">
								<div class="card__title">
									<img src="src/img/card_6.png" alt="">
									<h3>Perfectly tailored shipment</h3>
								</div>
								<div class="card__info">
									<p>At accumsan condimentum donec dictumst eros, tempus in diam. Ornare dictumst
										eros, tempus in diam. Ornare </p>
									<a class="card__link" href="#">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="payment_options container__carriers">
			<h2 class="carrites__subtitle">
				Payment options
			</h2>
			<h1 class="carriers__title">Quick Pay Option</h1>
			<div class="payment_options__wrapper">
				<div class="row">
					<div class="col-sm-4 col-xxl-2 payment_options__item">
						<img src="src/img/icons/payment_24.png" alt="">
						<h3>Payment 24 Hours</h3>
						<a class="card__link" href="#">Read more</a>
					</div>
					<div class="col-sm-4 col-lg-4 col-xxl-2 payment_options__item">
						<img src="src/img/icons/fuel_advance.png" alt="">
						<h3>EFS Fuel Advance</h3>
						<a class="card__link" href="#">Read more</a>
					</div>
					<div class="col-sm-4 col-lg-4 col-xxl-2 payment_options__item">
						<img src="src/img/icons/direct_deposit.png" alt="">
						<h3>ACH Direct Deposit</h3>
						<a class="card__link" href="#">Read more</a>
					</div>
					<div class="col-sm-4 col-lg-4 col-xxl-2 payment_options__item">
						<img src="src/img/icons/payment_7_day.png" alt="">
						<h3>Payment 7 Days</h3>
						<a class="card__link" href="#">Read more</a>
					</div>
					<div class="col-sm-4 col-xxl-2 payment_options__item">
						<img src="src/img/icons/no_fee.png" alt="">
						<h3>21 days, no fee</h3>
						<a class="card__link" href="#">Read more</a>
					</div>
				</div>
			</div>
		</section>

		<section class="haul_with_us">
			<div class="working-with-us">
				<div class="container working-with-us__content">
					<h2>Haul with us</h2>
					<p>We use state-of-the-art technology to keep in touch with a wide network of carriers. Our
						specialists
						help customers choose from a large number of shipments per day..</p>
					<button style="background: #1D77D4;" class="btn btn-primary content__main">Find your Job</button>
				</div>
			</div>
		</section>

		<!-- ================ START FOOTER SECTION ================ -->
		<%- include('./partials/footer') %>
			<!-- ================ END FOOTER SECTION ================ -->
	</body>