@import './_variables';
@import './mainButton';


/* ============ START HERO AREA ============*/
.hero {
    background-image: url('/src/img/hero_carriers.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 90%;
    font-size: 16px;
    margin: auto;

    & .content__main {
        @include content__btn;
    }

    & .content__wrapper {
        width: 453px;
    }
}

.hero__content h1 {
    color: var(--white);
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    font-weight: 900;
}

@media (max-width:500px) {

    .hero__content {

        & .content__wrapper {
            width: 100%;
        }
    }

}

/* ============ END HERO AREA ============*/